<body>
<div align="center">
  	<ul id= "list"> 
  	  <p>luigisayshello</p>
	  <li><a href="https://github.com/luigisayshello">Projects</a></li>
	  <li><a href="http://img-cache.cdn.gaiaonline.com/aef9574a8c8228d58fe835fc48457ab5/http://i854.photobucket.com/albums/ab106/RevolutionIsMyName5127/Troll%20Bird/TrollBird.jpg">Twitter</a></li>
	  <li><a href="http://static.comicvine.com/uploads/original/10/102304/2455393-22794151.jpg">Contact</a></li>
	</ul>
</div>
</body>