<body>
<div class="centered"
	<div class="jumbotron">
	  	<a class="title" href="#">luigisayshello</a>
		  
	  	<nav>
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div id="nav">
		      <li><a href="#">Projects </a></li>
		      <li><a href="#">Twitter </a></li>
		      <li><a href="#">Contact </a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>

	</div>
</div>
</body>