body {
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


a:link    { color: #000000 }  /* unvisited links */
a:visited { color: #00c }  /* visited links   */
a:hover   { color: #36F }  /* user hovers     */
a:active  { color: #000000 }  /* active links    */

#list p {
	font-size: 15vw;
	font-weight: 400; 
	margin-top: 0px;
	whidth: 100%;
	weight: 100%;
	text-align: center;
	display: inline-block;
}


#list li {
	margin-top: -50%;
	margin-right: 0%;
	padding-right: 0%;
	style: none;
	font-size: 8vw;
	font-color: #000000;
	font-weight: 100;
	display: inline-block;
	position: center;

}

#list {
	whidth: 100%;
	weight: 100%;
	text-align: center;
}
